[Desktop Entry]
Type=Application
Name=Sonora
GenericName=Music Player
Comment=A native music streaming client, built with Rust and GPUI (Fork by switchblade)
Icon=sonora
Exec=sonora %U
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;spotify;audio;player;
MimeType=x-scheme-handler/spotify;audio/mpeg;audio/flac;audio/mp4;audio/aac;audio/ogg;audio/opus;audio/x-wav;audio/webm;audio/x-matroska;audio/x-wavpack;audio/x-ape;
StartupWMClass=sonora
StartupNotify=true
